.TodoList {
  margin: 2rem auto;
}

.TodoList h1 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #3345aa;
  text-shadow: '1px 2px 3px #555';
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@media (min-width: 650px) {
  .TodoList h1 {
    font-size: 2rem;
  }
}
