.TodoList {
  margin: 2rem auto;
}
.TodoList ul {
  margin: 3rem auto;
}
.TodoList__item {
  display: block;
  padding: 1rem;
  width: 50vw;
  border: 1px solid lightblue;
  margin: 0.5rem auto;
  list-style-type: none;
  box-shadow: 0 -1.5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
