.ListItems {
  width: 75vw;
  font-size: 0.8rem;
  margin: 3rem auto;
  padding: 2rem 1rem;
  box-shadow: 0px 0.5px 6px rgb(0 0 0 / 25%);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

@media (min-width: 650px) {
  .ListItems {
    width: 45vw;
    font-size: 0.9rem;
    margin: 3rem auto;
  }
}
